.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.task-completed {
  opacity: 0.5;
}

.task {
  font-weight: bold;
}

.filter-header {
  color: white;
  padding: 5px;
  background-color: cadetblue;
  display: inline-block;
  border-radius: 50%;
  margin-left: 20px;
  font-size: 12px;
  min-width: 30px;
  text-align: center;
}

.button-active {
  background-color: cadetblue;
  color: white;
}

.error {
  outline: none;
  border: 2px solid red;
}